<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New message</title>
  </head>
  <body>
    <form action="/new" method="post">
      <h1>New message</h1>
      <input type="text" placeholder="Author's name" name="authorText" />
      <input type="text" placeholder="Message" name="messageText" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
