<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Messages</h1>
    <% messages.forEach(message => { %>
    <h2><%= message.text %></h2>
    <h3><%= message.added.toLocaleDateString() %></h3>
    <% }) %>
    <button><a href="/new">Add new message</a></button>
  </body>
</html>
